.heading {
    display: flex;
    font-family: var(--accent-font);
    justify-content: center;
    color: var(--text-color);
    text-align: center;
}

.content-section {
    padding-left: 5vi;
    padding-right: 5vi;
    color: var(--text-color);
}

.header__title {
    font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
    margin-bottom: 40px;
    text-align: center;
}

.content__title {
    font-size: 30px;
    margin-top: 7%;
    margin-bottom: 2.5%;
}